<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Doran</title>
	<link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- <h1>Doran</h1> -->
      <h2>Champion Select Assistant</h2>
    </div>
  </div>
  <%= yield %>
  <hr>
  <a href="/reset">Reset session</a>
</div>

</body>
</html>
