<link rel="stylesheet" href="awesomplete.css">

<div class="row">
  <div class="col-sm-6">
    <%= erb :team, :locals => { :team => friendly_team } %>
  </div>
  <div class="col-sm-6">
    <%= erb :team, :locals => { :team => enemy_team } %>
  </div>
</div>

<datalist id="champNames">
  <option>Leona</option>
  <option>Morgana</option>
  <option>Sona</option>
  <option>Kayle</option>
  <option>Quinn</option>
  <option>Ziggs</option>
  <option>Yasuo</option>
  <option>Taliyah</option>
  <option>Poppy</option>
  <option>Nautilus</option>
  <option>Caitlyn</option>
  <option>Ekko</option>
  <option>Thresh</option>
  <option>Blitzcrank</option>
  <option>Katarina</option>
</datalist>
<script src="awesomplete.js"></script>
