<h3><%= team.name %></h3>
<% if team.roster.length > 0 %>
  <ul>
    <% team.roster.each do |champ| %>
      <li><%= champ.name %></li>
    <% end %>
  </ul>
<% end %>
<form action="/add-champ" method="post">
  <input type="text" name="champ-name" placeholder="Enter a champion name" autofocus class="awesomplete" list="champNames" data-autofirst="true">
  <input type="hidden" name="team-name" value="<%= team.name %>">
  <input type="submit">
</form>
Team strengths: <%= team.strengths %>
