.champ-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.champ-card {
  background: lightgray;
  margin: 1em;
  width: 25%;
}

.champ-portrait {
  width: 50px;
}

.champ-name {
  font-size: 1.5em;
  display: inline;
}
