<!DOCTYPE html>
<html ng-app="Doran">
  <head>
    <title>Doran</title>
    <%= csrf_meta_tags %>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="https://unpkg.com/angular-ui-router@1.0.0/release/angular-ui-router.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
